<section id="supliers" class="mt-4">
  <div class="mb-4 flex items-center justify-between">
    <h2 class="font-black text-3xl">Proveedores</h2>
    <div class="flex flex-row gap-1 items-center">
      <input type="text" placeholder="Buscar" class="input input-bordered w-full max-w-xs" />
      <a class="btn btn-primary" for="modal-product-creator" routerLink="/suppliers/creator">Agregar</a>
    </div>
  </div>

  <app-table [titles]="tableTitles">
    <tr *ngFor="let supplier of suppliers; index as i; trackBy: trackByIndex">
      <th>
        <span class="block font-bold text-base">{{ i + 1 }}</span>
      </th>
      <th>
        <span class="block font-normal text-base">
          {{ supplier.name }}
        </span>
      </th>
      <th>
        <span class="block font-normal text-base">
          {{ supplier.contact }}
        </span>
      </th>
      <th>
        <span class="block font-normal text-base">
          {{ supplier.createdAt | date: "short" }}
        </span>
      </th>
      <th>
        <span class="block font-normal text-base">
          {{ supplier.updatedAt | date: "short" }}
        </span>
      </th>
      <th>
        <div class="flex justify-center items-center flex-row flex-nowrap gap-1">
          <button class="btn btn-warning btn-xs" (click)="openDialogEditor(supplier)">Editar</button>
          <!-- <button class="btn btn-accent btn-xs">Eliminar</button> -->
        </div>
      </th>
    </tr>
  </app-table>
</section>